/* Custom styles for the carousel */
.custom-carousel {
    width: 90vw;
    /* Full viewport width */
    height: 60vh;
    /* Full viewport height */
    overflow: hidden;
    margin-top: 100px;
    margin-left: 100px;
    /* Remove any margin */
    padding: 0;
    /* Remove any padding */
}

.custom-carousel-inner {
    width: 100%;
    height: 100%;
}

.custom-carousel .carousel-item {
    height: 100%;
}

.custom-carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the area */
}

.custom-control-prev,
.custom-control-next {
    width: 5%;
    background-size: 25%;
    background-color: rgba(126, 210, 30, 0.705);
    /* Adjust the size of the control buttons if needed */
}